<button class="toggleForm" {{action "openEditForm"}}>Edit</button>
{{#if editShown}}
  <div class="assignmentEdit">
    <form>
      <br>
      <label class="editTitle">
        Title:
        <br>
        {{input value=updatedTitle}}
      </label>
      <br>
      <label>
        Instructions:
        <br>
        {{textarea rows=10 value=updatedInstructions}}
      </label>
      <br>
      <button id="submit" type="submit" {{action "editAssignment"}}>Update</button>
      <button id="cancel" {{action "closeEditForm"}}>Cancel</button>
    </form>
  </div>
  <br>
{{/if}}